// bower:scss
// endbower

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;

  overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.note {
  font-size: 10px;
}

#webgl-error-message {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: flex;

  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hero-unit {
  box-sizing: border-box;

  padding: 4px 16px 8px;

  // this is for ios fix *rolling eyes
  background-color: #000;
}

.scene-wrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.button {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #009688;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  &--label {
    background-color: rgba(0, 0, 0, .7);

    color: #ffffff;

    font-size: 10px;

    text-align: center;

    padding: 4px 8px;

    margin-top: 8px;
  }
}

.basket-location-button-wrapper {
  display: flex;
  position: fixed;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  bottom: 16px;
  right: 16px;

  z-index: 3;

  .button {
    width: 48px;
    height: 48px;

    border-radius: 30px;

    color: #ffffff;
  }

  .button--label {
    width: 64px;
  }
}

.message-wrapper {
  display: none;
  position: fixed;

  top: 57%;
  left: 0;

  width: 100%;

  font-size: 12px;

  background-color: rgba(0, 0, 0, .7);
  color: #fff;

  padding: 16px;

  box-sizing: border-box;

  text-align: center;

  transform: translate(0, -50%);

  ol {
    text-align: left;
  }
}